*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: #2b2a33;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    transform-style: preserve-3d;
    transform: perspective(1000px);
}

main img {
    width: 150px;
    height: 300px;
    padding: 0.2rem;

    transition: .5s;
    filter: brightness(0);
}

main img:hover{
    filter: brightness(1);
    transform: translateZ(200px);
}

main img:hover + *{
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(40deg);
}

main img:hover + * + *{
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(20deg);
}

main img:has(+ *:hover){
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-40deg);
}

main img:has(+ * + *:hover){
    filter: brightness(0.4);
    transform: translateZ(70px) rotateY(-20deg);
}

main img:has(+ * + * + *:hover){
    filter: brightness(0.2);
    transform: translateZ(30px) rotateY(-10deg);
}
